.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

body {
  font-family: 'Times New Roman', Times, serif;
}




.time {
  display: flex;
  justify-content: start;
  /*margin-bottom: 10px;*/
  margin-top: 10px;
}

ul {
  padding-left: 18px !important;
}

.places {
  margin-bottom: 20px;
  text-align: start;

}

.place {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;

}

.place-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;

}

.place-details a {
  margin-bottom: 6px;

}

.place-image {
  width: 95%;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
}

/* .place-image:hover{
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  } */
.place img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform .3s ease-in-out;
  margin-bottom: 10px;
  border-radius: 10px;
}

.place img:hover {
  transform: scale(1.1);


}

.white-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: -1;
}

.shadow {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  z-index: -1;
}

.card-header>h2 {
  margin-left: 10px;
  display: inline-block;
  border-bottom: 1px solid black;
  /* This adds a solid black line below the h1 */
}

.google {
  margin-top: 10px;
}

img {
  box-shadow: 10px 5px 20px black;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  img {
    width: 207px;
    height: 145px;
  }


}

/* CSS for sliding in from the right */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* CSS for sliding in from the left */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {


  0% {
    transform: scale(0);
    /* Zoom in */
    opacity: 0;
  }

  100% {
    transform: scale(1);
    /* Normal size */
    opacity: 1;
  }
}

/* Apply animation to the image */
.image {
  /* animation: slideIn 1s ease forwards; */
  opacity: 0;
}

.show-animation {
  animation: zoomIn 1s ease forwards;
  opacity: 1;
}


.time ul li:nth-child(1) {
  animation: slideInRight 1s forwards;
}

.time ul li:nth-child(2) {
  animation-delay: 3s;
  opacity: 0;
  animation: slideInLeft 1s forwards;

}

.time ul li:nth-child(3) {
  animation-delay: 3s;
  opacity: 0;
  animation: slideInRight 1s forwards;

}

.time ul li:nth-child(4) {
  animation-delay: 3s;
  opacity: 0;
  animation: slideInLeft 1s forwards;

}

.time ul li:nth-child(5) {
  animation-delay: 3s;
  opacity: 0;
  animation: slideInRight 1s forwards;

}

.book {
  opacity: 0;
}

.show-book {
  animation: slideInRight 1s forwards;
}

p {
  animation-delay: 2s;
  opacity: 0;
  animation: slideInRight 1s forwards;

}

h4 {
  opacity: 0;
}

.show-h4 {
  animation: slideInRight 2s forwards;
}

.last {
  opacity: 0;
}

.show-last {
  animation: slideInRight 2s forwards;
}

h1 {
  animation: zoomIn 1.4s ease forwards;

}

.paragraph {
  opacity: 0;
  animation: slideInLeft 1.5s forwards;
  animation-delay: 0.5s;


}

a {
  opacity: 0;
}

.show-a {
  animation: slideInRight 2s forwards;
}

.show-mainclass-even {
  animation: slideInLeft 1.5s forwards;
}

.show-mainclass-odd {
  animation: slideInRight 1.5s forwards;
}