body {
    background-image: url('https://media.istockphoto.com/id/1323846766/photo/a-beautiful-view-of-dal-lake-in-winter-srinagar-kashmir-india.jpg?s=612x612&w=0&k=20&c=Dp3peie2t-jdLEmqe4W-DD09GACu2Cr-JjHHeB6rpBc=');
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.next-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    /* Adjusted button padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* Reduced button font size */
    border-radius: 5px;
    cursor: pointer;
}

/* button {
    border: none;
    outline: none;
    background-color: green;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px lightgreen;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px black;
} */

.highlight {
    color: green;
    /* Highlight color */
}

@media (max-width: 768px) {
    .card {
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .next-btn {
        padding: 8px 16px;
        font-size: 1.2rem;
    }
}
